<% content_for(:title, "UNLOCK") %>
<%= render "devise/shared/error_messages", resource: resource %>
<div class="container text-center">
  <div class="headline">
    <h2>UNLOCK</h2>
  </div>
  <p class="wf-sawarabimincho">
    <span>アカウントロックを解除する</span>
  </p>
</div>
<div class="container text-center">
  <%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
    <div class="field">
      <%= f.label :email %><br>
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>
    <div class="actions">
      <%= f.submit "送信する",class:"btn btn-outline-success" %>
    </div>
  <% end %>
  <%= render "devise/shared/links" %>
</div>
