<% content_for(:title, "DETAIL") %>
<div class="container">
  <div class="headline">
    <h2>Details</h2>
  </div>
  <p class="wf-sawarabimincho">
    <span>詳細ページ<span>
  </p>
</div>
<table class="table text-center">
  <thead>
    <tr class="table-info">
      <th>卒業年度</th>
      <th>学校名</th>
      <th>成人式</th>
    </tr>
  </thead>
  <tbody>
    <tr class="table-light">
      <td><%= @team.graduation %>
        <span>年度</span>
      </td>
      <% @schools.each do |school| %>
        <td>
          <span>
            <%= school.school_name %>
            <%= school.kind %>
          </span>
        </td>
        <td>
          <%= school.ceremony %>
          <span>年</span>
        </td>
      <% end %>
    </tr>
  </tbody>
</table>
<table class="table table-striped text-center">
  <thead>
    <tr class="table-warning">
      <th>教員情報</th>
      <th>氏名</th>
      <th>立場</th>
      <th>備考欄</th>
    </tr>
  </thead>
  <% i = 0 %>
  <% @teachers.each do |teacher| %>
    <tbody>
      <tr class="table-light">
        <td>教員<%= i+1 %></td>
        <td><%= teacher.teacher_name %></td>
        <td><%= teacher.teacher_position %></td>
        <td><%= teacher.teacher_others %></td>
        <% i += 1 %>
      </tr>
    </tbody>
  <% end %>
</table>
<table class="table table-striped text-center">
  <thead>
    <tr class="table-success">
      <th>生徒情報</th>
      <th>氏名</th>
      <th>氏名カナ</th>
      <th>部活動</th>
      <th>備考欄</th>
    </tr>
  </thead>
  <% i = 0 %>
  <% @students.each do |student| %>
    <tbody>
      <tr class="table-light">
        <td>生徒<%= i+1 %></td>
        <td><%= student.student_name %></td>
        <td><%= student.student_kana %></td>
        <td><%= student.student_club %></td>
        <td><%= student.student_others %></td>
        <% i += 1 %>
      </tr>
    </tbody>
  <% end %>
</table>
<div class="text-center">
  <%= link_to "編集", edit_remember_you_record_path, class:"btn btn-outline-success" %>
  <%= link_to "削除", remember_you_record_path, method: :delete, data: { confirm: "本当に削除しますか？" }, class:"btn btn-outline-danger" %>
  <%= link_to "一覧ページへ戻る", remember_you_records_path, class:"btn btn-outline-secondary" %>
</div>
