<!DOCTYPE html>
<html>
  <head>
    <title><%= page_title(yield(:title)) %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href= "https://fonts.googleapis.com/css?family=Sawarabi+Mincho" rel="stylesheet">
    <style type="text/css">a.widelink { display: block; }</style>
  </head>
  <body>
    <header class="sticky-top">
      <nav class="navbar navbar-expand-md navbar-light bg-white">
        <div class="container-fluid">
          <%= link_to image_tag("Simple Minimalist Real Estate Logo.png"), remember_you_records_path, class:"navbar-brand" %>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
            <span class="navbar-toggler-icon"></span>
          </button>
          <% if user_signed_in? %>
            <div class="collapse navbar-collapse" id="navbarResponsive">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                  <%= link_to "ホーム", remember_you_records_path, class:"d-flex text-secondary wf-sawarabimincho nav-link" %>
                </li>
                <li class="nav-item">
                  <%= link_to "アカウント", edit_user_registration_path, class:"d-flex text-dark wf-sawarabimincho nav-link" %>
                </li>
                <li class="nav-item">
                  <%= link_to "お問い合わせ", new_remember_you_contact_path(user_id: current_user.id), class:"d-flex text-dark wf-sawarabimincho nav-link" %>
                </li>
                <li class="nav-item">
                  <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class:"d-flex text-dark wf-sawarabimincho nav-link" %>
                </li>
                <% if current_user.try(:admin?) %>
                  <%= link_to "管理者ログイン", rails_admin_path, class:"d-flex text-dark wf-sawarabimincho nav-link" %>
                <% end %>
              </ul>
            </div>
          <% else %>
            <div class="collapse navbar-collapse" id="navbarResponsive">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                  <%= link_to "アカウント登録", new_user_registration_path, class:"d-flex text-dark wf-sawarabimincho nav-link" %>
                </li>
                <li class="nav-item">
                  <%= link_to "ログイン", user_session_path, class:"d-flex text-dark wf-sawarabimincho nav-link" %>
                </li>
                <li class="nav-item">
                  <%= link_to "ゲストログイン(企業様ログインページ)", users_guest_sign_in_path, method: :post, class:"d-flex text-dark wf-sawarabimincho nav-link" %>
                </li>
              </ul>
            </div>
          <% end %>
        </div>
      </nav>
    </header>
    <div class="text-center">
      <p class="alert-success"><%= notice %></p>
      <p class="alert-danger"><%= alert %></p>
    </div>
    <%= yield %>
    <footer class="footer mt-auto py-3 bg-light text-center fixed-bottom">
      <span class="text-muted">© 2023 Yuma Goto</span>
    </footer>
  </body>
</html>
